<!DOCTYPE html>
<html>
  <head>
    <% include bootstrap/head %>
  </head>
  <body class="signup">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">
              <span class="fa fa-user"></span> Enhorabuena
            </h1>
              <div class="form-group">
                <strong>Exito</strong> <%= user.local.username %> <br>
               <a href="/profile" class="btn btn-light btn-sm">
                Volver
              </a> 
            </form>
            <br>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>