<!DOCTYPE html>
<html lang="en">
<head>
	<% include bootstrap/head %>
</head>
<body class="index">

	<div class="container">
		<div class="col-sm-6 mx-auto">
        	<div class="card mt-5">
          		<div class="card-body">
					<div class="card text-center mt-3">
						<div class="card-body">
							<h1><span class="fa fa-block"></span>Página principal</h1>
							<a href="/login" class="btn btn-light">
								Iniciar Sesión
							</a>
							<a href="/signup" class="btn btn-light">
								Registrarse
							</a>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>

</body>
</html>
