<!DOCTYPE html>
<html>
  <head>
    <% include bootstrap/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1>Plataforma</h1>
      </header>
      <hr>

      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-9">
            <a href="/profile/ficha/" class="btn btn-light btn-sm">
              Profile User
            </a>
            <a href="/profile/ranking" class="btn btn-light btn-sm">
              Ranking
            </a>
            <a href="/logout" class="btn btn-light btn-sm">
              Logout
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
